<html>
<body style="background:linear-gradient(to bottom, #99ccff 0%, #ccffff 100%);">
 <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag  "application" %>

<br>


<div class="dgreportheading">
DG Report
</div>
<!--<div class="newdbtoppane1">
<table class="dbtblhead" border="1" cellspacing="1" cellpadding="0">
<tr>
<td>
 <label> ID </label></td>
<td><input  type="text" id="controllerid" name="controllerid" style="width:70%"></td>
</tr>
<tr>
<td> <label> From </label></td>
<td> <input   type="text" id="fromdate" name="fromdate" style="width:70%"></td>
</tr>
<tr>
<td>
<label> To </label></td>
<td><input  type="text" id="todate" name="todate" style="width:70%"></td>
</tr>
<tr>
 <td> <button id="search" type="button" style="width:70px">Search</button> </td>
</tr>
  
</div>
</table>
</div>-->

<script>
 $(function(){
      $("#fromdate").datepicker({
         dateFormat: 'yy/mm/dd',
        
       onSelect: function(dateText) {
       
      }
   });
});
 

 $(function(){
      $("#todate").datepicker({
         dateFormat: 'yy/mm/dd',
         onSelect: function(dateText) {
         
       }
   });
});

$(
    function(){
     
        $('#search').click(function(){
                               
                   $("#dateform").submit();  
        });
        
    }
);

</script>
 <div class="dgdatapane">
<table id="table_id" class="display nowrap" border="1" width="10%" >
<thead>
<tr>

<th>Updated Date </th>
<th>Updated Time </th>
<th>Battery Voltage</th>
<th>Battery Current</th>
<th>Output Power</th>
<th>Output Current</th>
<th>Load Power Factor</th>
<th>Today's AC Load Energy</th>
<th>Total AC Load Energy</th>
<th>Today's DG O/P Energy Produced</th>
<th>total DG O/P Energy Produced</th>
<th>Today's External DC Energy</th>
<th>Total External DC Energy</th>

</tr>
</thead>
<% @dg_report_details.each do |val| %>
<tr>
<td ><%= "#{val['updated_date']}" %></td>
<td><%= "#{val['updated_time'].strftime("%H:%M:%S")}" %></td>
<td><%= "#{val['batter_voltage']}" %></td>
<td><%= "#{val['battery_current']}" %></td>
<td><%= "#{val['output_power']}" %></td>
<td><%= "#{val['output_current']}" %></td>
<td><%= "#{val['load_power_factor']}" %></td>
<td><%= "#{val['todays_ac_load_energy']}" %></td>
<td><%= "#{val['total_ac_load_energy']}" %></td>
<td><%= "#{val['todays_DG_output_enery_produced']}" %></td>
<td><%= "#{val['total_DG_output_energy_produced']}" %></td>
<td><%= "#{val['todays_external_DC_energy']}" %></td>
<td><%= "#{val['total_external_DC_energy']}" %></td>

<!--<td><a href="/reports?ctrlr_id=<%= "#{val['ctrlrid']}" %>" class="w3-bar-item w3-button w3-padding"><i class="fa fa-table tblcheck"></i>  </a></td>-->
</tr>
<% end %>
</table>
</div>

<script type="text/javascript">
  
        $('#table_id').DataTable(
{
        "scrollX": true,
	"scrollY": true,
dom: 'Bfrtip',
        buttons: [
		{
                extend: 'copyHtml5',
               messageTop: 'From Date: '+$('#fromdate').val()+"\n"+' To Date: '+$('#todate').val()+"\n",
                 title: 'APEX COMTEL - Wind Monitoring System',
		filename: $('#fromdate').val()+"-"+$('#todate').val()+"APEX COMTEL - Wind System"
                },
		{
                extend: 'csvHtml5',
                messageTop: 'From Date: '+$('#fromdate').val()+"\n"+' To Date: '+$('#todate').val()+"\n",
                title: 'APEX COMTEL - Wind Monitoring System',
		filename: $('#fromdate').val()+"-"+$('#todate').val()+"APEX COMTEL - Wind System"
                },
                {
                extend: 'excelHtml5',
                messageTop: 'From Date: '+$('#fromdate').val()+"  "+' To Date: '+$('#todate').val()+"\n",
                title: 'APEX COMTEL - Wind Monitoring System',
		filename: $('#fromdate').val()+"-"+$('#todate').val()+"APEX COMTEL - Wind System"			
                },
                {
                 extend: 'pdfHtml5',
		 messageTop: 'From Date: '+$('#fromdate').val()+"\n"+' To Date: '+$('#todate').val()+"\n",
                 title: 'APEX COMTEL - Wind Monitoring System',
		 filename: $('#fromdate').val()+"-"+$('#todate').val()+"APEX COMTEL - Wind System",
		 customize: function(doc) {
    			doc.styles.title = {
      			color: 'blue',
      			fontSize: '14',
     			alignment: 'center'
    		}   
  	      } 
                 
            },
	    {
                extend: 'print',
		orientation: 'landscape',
		//fontSize: '20',
		messageTop: 'From Date: '+$('#fromdate').val()+"\n"+' To Date: '+$('#todate').val()+"\n",
                title: 'APEX COMTEL - Wind Monitoring System',
		filename: $('#fromdate').val()+"-"+$('#todate').val()+"APEX COMTEL - Wind System",
		 
		 
  
	    }
        ]
}    
);
  
</script>
<script>
$(document).ready(function() {
    var table = $('#tblcheck').DataTable();
     
    $('#tblcheck tbody').on('click', 'tr', function () {
        var data = table.row( this ).data();
        alert( 'You clicked on '+data[0]+'\'s row' );
 

    } );
} );
</script>
</body>
</html>
